body {
   height: 100%;
   width: 100%;
   position: fixed;
   overflow: hidden;
}


.interface {
	margin-top: 90px;
	line-height: 3;
	text-align: center;

}
.progress-bar {
	text-align: center;
}

.desc {
	font-size: 20px;
	margin-bottom: 10px;
}

.title {
	margin-left: 20px;
}

.percent {
	width: 80px;
	border-radius: 30px;
	height: 40px;
	font-size: 30pt;
	text-align: center
}

.loader circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #efefec;
	stroke-width: 1em;
}

.loader .bar {
	stroke: #ffdb4d;
}


.loader {
	animation: spin 3s linear infinite;
	animation-play-state: paused;
}

@keyframes spin {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

.switch_box + span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 200px;
	min-width: 200px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: left;
}

input[type="checkbox"].switch_1 {
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 3em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
		vertical-align: middle;

}

input[type="checkbox"].switch_1:checked {
	background: #7ed321;
}

input[type="checkbox"].switch_1:after {
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
	box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
	-webkit-transform: scale(.7);
	transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
	left: calc(100% - 1.5em);
}

@media (orientation: landscape) {
	.container {
		display: inline-block;
		width: 50%;
	}
	.interface {
		display: inline-block;
		margin-top: 10px;
	}

}
@media (orientation: landscape) and (max-width: 768px){
	.progress-bar {
		display: inline-block;
		width: 50%;
		transform: scale(0.8);
	}
	.interface {
		display: inline-block;
				transform: scale(0.8);

	}
		h1 {
		font-size: 14px;
	}

}

@media (max-width: 768px){
		h1 {
		font-size: 14px;
	}

}
