.progress-bar {
	text-align: center;
}

/*Закрашивание нижнего блока белым*/

.progress-bar__loader circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #efefec;
	stroke-width: 1em;
}

/*Закрашивание верхнего блока желтым*/

.progress-bar__loader .bar {
	stroke: #ffdb4d;
}

/*анимация вразения под разными движками*/

.progress-bar__loader {
	-webkit-animation: spin 3s linear infinite;
	-webkit-animation-play-state: paused;
	-moz-animation: spin 3s linear infinite;
	-moz-animation-play-state: paused;
	-ms-animation: spin 3s linear infinite;
	-ms-animation-play-state: paused;
	-o-animation: spin 3s linear infinite;
	-o-animation-play-state: paused;
	animation: spin 3s linear infinite;
	animation-play-state: paused;
}

@keyframes spin {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-moz-@keyframes spin {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-webkit-@keyframes spin {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-@keyframes spin {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

/*Подгон под телефонное разрешение и горизонтальную ориентацию*/

@media (orientation: landscape) {
	.progress-bar {
		display: inline-block;
		width: 50%;
	}
	.container {
		width: 100%;
		height: 50%;
		display: inline-flex;
	}

}

@media (orientation: portrait) {
	.interface {
		width: 63%;
		float: right;
	}

}

@media (orientation: landscape) and (max-width: 768px) {
	.progress-bar {
		display: inline-block;
		width: 50%;
		transform: scale(0.8);
	}
}
